:root {
  --blue: #2196f3;
  --black: #212121;
  --gray: #757575;
  --white: #ffffff;
  --dark-gray: #2f303a;
  --whitesmoke: #f5f4fa;
  --whitegray: rgba(255, 255, 255, 0.6);
  --main-font: "Roboto", sans-serif;
  --secondary-font: "normal", sans-serif;
}