.section-client {
padding-bottom: 94px;
padding-top: 94px; 
}
.clients-title {
margin-bottom: 50px;
color: #212121;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
}

.clients-list {
display: flex;
flex: wrap;
margin-left: -30px;
margin-top: -30px;
}

.clients-logo {
flex-basis: calc((100% - 180px) / 6);
margin-left: 30px;
margin-top: 30px;
}

.clients-link {
display: flex;
justify-content: center;
align-items: center;
color: #afb1b8;
width: 100%;
height: 92px;
border: 1px solid #afb1b8;
border-radius: 4px;
}

.clients-link:hover,
.clients-link:focus {
border-color:var(--blue);
color: var(--blue);
}
.clients-icon {
fill: #AFB1B8;
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill:var(--blue);
}