.menu-page {
  display: inline-block;
}
.menu-item.list:not(:first-child) {
  margin-left: 50px;
}
.menu-page:hover,
.menu-page:focus {
  color: var(--blue);
}

.menu-page {
  display: flex;
  margin-left: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  
  color: #212121;
}

.menu-page.active  {
  color: #2196f3;
}
.site-navigation {
transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-after {
position: relative;
}
.navigation .menu-page.active {
color: var(--blue);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active::after {
content: '';
position: absolute;
display: block;
bottom: -33px;
background-color: var(--blue);
width: 100%;
height: 4px;
border-radius: 2px;

}
.site-navigation:hover::after,
.site-navigation:focus::after {
content: ' ';
position: absolute;
display: block;
background-color: var(--blue);
width: 100%;
height: 4px;
border-radius: 2px;
margin-top: 28px;
bottom: -33px;
}
.list-menu {
  margin-left: 93px;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--black);
}